<nav data-rachunek-menu></nav>
<div id="content" ng-controller="account">
	<h1 data-bank-colorized-header>Lista rachunków oszczędnościowych</h1>
	<table class="transfer">	
		<tbody>
			<p class="margin-bottom-20">Masz {{user.balance}} PLN do dyspozycji na koncie.</p>
			<p ng-show="!user.rachunki || user.rachunki.length == 0">Nie masz dostępnych lokat.</p>
			<tr ng-hide="!user.rachunki || user.rachunki.length == 0">
			   	<th class="width4Percent align-left bold">Nr.</th>
			   	<th class="width50Percent align-left bold">Nazwa</th>
			   	<th class="width20Percent align-left bold">Kwota</th>
			</tr>
			<tr ng-repeat="r in user.rachunki track by $index">
				<td class="width4Percent align-left">{{$index}}.</td>
				<td class="width50Percent align-left">{{r.name.label}}</td>
				<td class="width20Percent align-left" index="$index">{{r.amount}}</td>
				<!-- <td class="width80"><a class="green" href="" editable>Edytuj kwotę</a></td> -->
				<td class="width20Percent align-left"><a class="red" href="" ng-click="removeRachunek($index)">Usuń</a></td>
			</tr>
		</tbody>
	</table>
	<div class="form-actions">
		<a href="app.html#/account/rachunek-zaloz"><input type="button" class="submit" value="Powrót" /></a>	
	</div>
</div>