<style type="text/css">
	.align-fields {
		float: left;
		clear: both;
	}
	:disabled {
		opacity: .5;
	}
</style>
<nav data-rachunek-menu></nav>
<div id="content" ng-controller="account">
	<h1 data-bank-colorized-header>Załóż rachunek oszczędnościowy</h1>
	<form action="#" method="post" name="form" invalidate>
		<table class="transfer">	
			<tr>
				<p class="margin-bottom-20">Masz {{user.balance}} PLN do dyspozycji na koncie.</p>
				<td class="align-fields">
					<label for="rachunek-select">Wybierz rachunek oszczędnosciowy</label>
					<select id="rachunek-select" ng-model="rachunek.name" ng-options="r.label for r in rachunki" name="rachunki"></select>
				</td>
				<td class="align-fields">
					<p><label for="rachunek-kwota">Przelej kwotę z głównego konta na rachunek oszczędnościowy</label></p>
					<p><input id="rachunek-kwota" ng-model="rachunek.amount" name="amount" float-field /></p>
					<p class="error" ng-show="form.amount.$error.float">Przykładowa wartość pola to "999.99"</p>
					<p class="error" ng-show="balanceError">Nie posiadasz wystarczającej kwoty na swoim koncie bankowym. Masz {{user.balance}} do zainwestowania</p>
				</td>
			</tr>
		</table>
		<div class="form-actions" style="margin-top:40px">
			<input ng-disabled="rachunek.name.value == 0" ng-click="submitted = true;form.$valid ? createRachunek() : null" type="button" class="submit" value="Zapisz rachunek" />
		</div>
	</form>
</div>
<script src="js/controller/account.js"></script>
