<style type="text/css">
	.align-fields {
		float: left;
		clear: both;
	}
	:disabled {
		opacity: .5;
	}
</style>
<nav data-lokata-menu></nav>
<div id="content" ng-controller="account">
	<h1 data-bank-colorized-header>Załóż lokatę</h1>
	<form action="#" method="post" name="form" invalidate>
		<table class="transfer">	
			<tr>
				<p class="margin-bottom-20">Masz {{user.balance}} PLN do dyspozycji na koncie.</p>
				<td class="align-fields">
					<label for="lokata-select">Wybierz rodzaj lokaty</label>
					<select id="lokata-select" ng-model="lokata.name" ng-options="l.label for l in lokaty" name="lokaty"></select>
				</td>
				<td class="align-fields">
					<p><label for="lokata-kwota">Wprowadź kwotę</label></p>
					<p><input name="amount" ng-model="lokata.amount" required float-field /></p>
					<p class="error" ng-show="form.amount.$error.float">Przykładowa wartość pola to "999.99"</p>
					<p class="error" ng-show="balanceError">Nie posiadasz wystarczającej kwoty na swoim koncie bankowym. Masz {{user.balance}} do zainwestowania</p>
				</td>
			</tr>
		</table>
		<div class="form-actions" style="margin-top:40px">
			<input ng-disabled="lokata.name.value == 0" ng-click="form.$valid ? createLokata() : null" type="button" class="submit" value="Zapisz lokatę" />
		</div>
	</form>
</div>
<script src="js/controller/account.js"></script>
