<style type="text/css">
	.align-fields {
		float: left;
		clear: both;
	}
	:disabled {
		opacity: .5;
	}
</style>
<nav data-lokata-menu></nav>
<div id="content" ng-controller="account">
	<h1 data-bank-colorized-header>Załóż lokatę</h1>
	<form action="#" method="post" name="form" invalidate>
		<table class="transfer">	
			<tr>
				<td class="align-fields">
					<label for="lokata-select">Wybierz rodzaj lokaty</label>
					<select id="lokata-select" ng-model="lokata.name" ng-options="l.label for l in lokaty" name="lokaty"></select>
				</td>
				<td class="align-fields">
					<p><label for="lokata-kwota">Wprowadź kwotę</label></p>
					<p><input id="lokata-kwota" ng-model="lokata.amount" required ng-pattern="/^\d{0,3}\,?\d{0,3}\.{1}\d{2} (PLN)$/" money-mask required="required" /></p>
					<p class="error" ng-show="submitted && form.amount.$error.required">Pole jest wymagane</p>
					<p class="error" ng-show="submitted && form.amount.$error.pattern">Niepoprawny format</p>
				</td>
			</tr>
		</table>
		<div class="form-actions" style="margin-top:40px">
			<input ng-disabled="lokata.name.value == 0" ng-click="submitted = true;form.$valid ? createLokata() : null" type="button" class="submit" value="Zapisz lokatę" />
		</div>
	</form>
</div>
<script src="js/controller/account.js"></script>
