<nav data-bank-menu></nav>
<div id="content">
	<h1 data-bank-colorized-header>Zasady bezpiecznej bankowosci elektronicznej
</h1>
	<div class="zasady-bezpieczenstwa">
		Dla bezpiecznego korzystania z serwisu niezbędne jest przestrzeganie
		podstawowych zasad bezpieczeństwa:
		<ul>
			<li>dbaj o poufność swojego identyfikatora i hasła,</li>
			<li>skonfiguruj przeglądarkę zgodnie z zaleceniami banku,</li>
			<li>zawsze sprawdzaj poprawność certyfikatu strony do logowania,</li>
			<li>nie odpowiadaj na e-maile zachęcające do ujawnienia poufnych danych,</li>
			<li>zachowaj szczególną ostrożność w miejscach publicznych (np. kafejkach internetowych).</li>
		</ul>
	</div>
</div>
